.customer-content {
    padding: 30px 40px;
    background-color: #fff;
    margin-left: 16.6vw;
    font-family: "Segoe UI", sans-serif;
    width: 77vw;
}

.customer-content.collapse {
    margin-left: 6vw;
    transition: margin-left 0.3s ease;
    width: 87vw;
}

.customer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.customer-header h2 {
    font-size: 24px;
    font-weight: bold;
}

.add-customer {
    background-color: #f9f9f9;
    border: 1px solid #d1d5db;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    color: #111827;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    transition: all 0.25s ease-in-out;
}

.add-customer:hover {
    background-color: #111827;
    color: #ffffff;
    border-color: #111827;
}

.customer-table {
    width: 100%;
    border: 1px solid #e5e7eb;
    border-radius: 10px;
    overflow: hidden;
}

.customer-row {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 0.5fr;
    padding: 15px 15px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    align-items: center;
}

.customer-row.header {
    font-weight: bold;
    background-color: #f3f4f6;
    border-bottom: 2px solid #d1d5db;
}

.dots {
    font-size: 20px;
    color: #666;
    cursor: pointer;
    text-align: center;
}

.pagination {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 14px;
    justify-content: center;
}

.pagination span {
    padding: 5px 12px;
    border-radius: 5px;
    cursor: pointer;
}

.pagination .active {
    background-color: black;
    color: white;
}

.pagination .disabled {
    color: #aaa;
    cursor: not-allowed;
}