.user-content {
    padding: 30px 40px;
    background-color: #fff;
    font-family: "Segoe UI", sans-serif;
    margin-left: 16.6vw;
    width: 77vw;
}

.user-content.collapse {
    margin-left: 6vw;
    transition: margin-left 0.3s ease;
    width: 87vw;
}

.user-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.user-header h2 {
    font-size: 24px;
    font-weight: bold;
}

.add-user-btn {
    background-color: #f3f4f6;
    border: 1px solid #d1d5db;
    border-radius: 12px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

.add-user-btn:hover {
    background-color: blueviolet;
    color: white;
}

.user-table {
    border: 1px solid #eee;
    border-radius: 12px;
    /* overflow: hidden; */
}

.user-row {
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr 2fr 2fr 0.5fr;
    padding: 25px 15px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
    align-items: center;
}

.user-header-row {
    background-color: #fafafa;
    font-weight: bold;
}

.menu-dots {
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    color: #666;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    font-size: 14px;
}

.pagination span {
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.pagination .active {
    background-color: black;
    color: white;
}

.pagination .disabled {
    color: #aaa;
    cursor: not-allowed;
}

.menu-container {
    position: relative;
    display: inline-block;
}

.popup-menu {
    position: absolute;
    right: 0;
    top: 25px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    z-index: 999;
    min-width: 120px;
}

.popup-item {
    padding: 10px 14px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
    transition: background 0.2s ease;
}

.popup-item:hover {
    background-color: #f0f0f0;
}

.menu-dots {
    font-size: 24px;
    cursor: pointer;
    user-select: none;
}