.topbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  width: 100%;
  height: 10vh;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1000;
}



.topbar .title {
  font-size: 22px;
  font-weight: bold;
  padding-left: 3vw;
}

.topbar-right {
  display: flex;
  align-items: center;
  padding-left: 55vw;
  gap: 17px;
}

.avatar.small {
  width: 30px;
  height: 30px;
  background: black;
  border-radius: 50%;
}

.icon {
  font-size: 18px;
  color: #333;
  cursor: pointer;
}

